/*  font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,600&family=Roboto:wght@300&family=Tapestry&display=swap');

body{
    background-color: #b7b7b7;
}
/*----------------Navigation-----*/
header{
    background-color: #0077B6;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    background-color: #0077B6;
    display: flex;
    justify-content:space-around ;
    font-family: Roboto;
}
nav a{
    color: #BB9457;
    text-decoration: none;
    padding: 35px;
    font-size: 2em;
}
nav a:hover {
    background-color: white;
}
#logo{
    width: 80px;
    margin: 20px;
}
/*-----------MAIN about-me---------------*/

/*---------title home--------*/
.about-me{
    color:#c7810f ;
    font-size: 4em;
    text-align: center; 
    font-family: Libre Bodoni;  
}


/*-----first paragraph ---------*/
.first-paragraph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin: 2em;
    margin-top: 10em;
    /* font-family: Libre Bodoni; */
    font-family: Roboto;
}

p{
    grid-column: 1/2;
    font-size: 2em;
    margin: auto 2em;
}
.first-paragraph img{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}

.second-paragraph{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    /* font-family: Libre Bodoni; */
    font-family: Roboto;
}
.second-paragraph p{
    grid-column: 2/3;
}
.second-paragraph img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
/* footer */
footer {
    background-color: #0077B6;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    font-family: Roboto;
 
 }
 footer a {
     color: #BB9457;
     margin: 20px;
     text-decoration: none;
 }
 footer h3 {
     color: #BB9457;
     text-align: center;
 }
 .social{
     grid-column: 2/3;
 }
 
 /* third page */
.mom{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto;
} 
.mom img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.mom p{
    grid-column: 2/3;
}
.first-daughter {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto;
}
.first-daughter img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.first-daughter p{
    grid-column: 2/3;
}
.second-daughter{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto;
}
.second-daughter img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.second-daughter p{
    grid-column: 2/3;
}
.first-son{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto;  
}
.first-son img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.first-son p{
    grid-column: 2/3;  
}
.second-son{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto; 
}
.second-son img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.second-son p{
    grid-column: 2/3;
}
.third-daughter{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    margin-top: 10em;
    font-family: Roboto; 
}
.third-daughter img{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.third-daughter p{
    grid-column: 2/3;
}

.family{
    color:#c7810f ;
    font-size: 4em;
    text-align: center;
    font-family: Libre Bodoni;   
}
footer h3 a:hover {
   
    text-decoration: underline;
}