.img {
    /* width: 80%; */
    display: block;
    margin: 0 auto;
    width: 33%;

}
.column {
    float: left;
    width: 33.3%;
    padding: 5px;
}

body {
    background-color: gray;
}
footer p {
    text-align: center;
}
